*{
  margin: 0;
  padding: 0;
}

.home{
  color:white;
  background-color: black;
  padding-left: 40%;
  padding-bottom: 15px;
}

.abt{
  color:white;
  background-color: black;
  padding-right: 70%;
  padding-bottom: 15px;
}

.header{
  background-color: black;
  padding-left: 37%;
  padding-top: 10px;
  color: white;
  height: 45px;
  font-family: sans-serif;
}

.button{
  height: 24px;
  width: 9%;
  background-color:lightgreen;
  border: 1px black solid;
}
